.wrapper {
    background: url("./1.jpg") ;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main{
      width: 80%;
      height: 90vh;
      margin: 0 auto;
  }

  .title-container{
      background-color: azure;
      padding: 8px;
  }